@charset "utf-8";

.bg-pink {
    background-color:#F06292;
}

.bg-orange {
    background-color: #ff9900;
}
    

.border {
    border-style: inset;
    border-color: orange;
    outline-style: inset;
    outline: 3px solid orange;
}

.surround-red {
    outline: 3px solid red;
}

.surround-orange{
    outline: 3px solid orange;
}

nav {
    outline: 3px solid orangered;
    font-weight: bold;
}

nav > a {
    text-decoration: underline;

}

footer::after {
    clear: both;
    content: "";
    display: table;
}

a:visited {
    color: #51007d;
    text-decoration: underline;
}            

a:hover {
    color: #0f0;
    text-decoration: underline;
}            

a:active {
    color:#ff0;
    text-decoration: underline;
}   